:root {
  /* COLORS */

  --color-dark: #120d09;
  --color-dark-brown: #1c120d;
  --color-coffee-brown: #f67834;
  --color-light-gold: #edb67b6f;
  --color-bg--brown: rgba(13, 11, 9, 0.92);
  --color-cream: #f7f1e8;
  --color-white: #ffff;
  --color-dark-text: #5c2b0c;
  --color-light-text: #eee3d6;
  --color-muted-text: #756f69;
  --color-border: #f4d6acb1;
  --color-shadow: rgba(129, 110, 96, 0.169);

  /* FONTS */

  --font-heading: serif;
  --font-body: "Inter", sans-serif;
  --font-script: "Caveat", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: var(--font-body);
  font-size: 15px;
  cursor: default;
}
html {
  scroll-behavior: smooth;
}
.img {
  background-image:
    linear-gradient(
      90deg,
      rgb(0, 0, 0) 10%,
      rgb(0, 0, 0) 15%,
      rgba(0, 0, 0, 0) 75%
    ),
    url("../Image/home-image.png");
  background-size: cover;
  background-position: center 80%;
  min-height: 635px;
}

/* NAVBAR */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 60px;
  background-color: var(--color-bg--brown);
  font-size: 15px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}
.logo-icon {
  color: var(--color-coffee-brown);
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}
.brand-name a {
  text-decoration: none;
  color: var(--color-white);
}
.brand-tagline {
  line-height: 0.3;
}
.brand-tagline a {
  text-decoration: none;
  font-size: 8px;
  color: var(--color-white);
}
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}
.nav-link {
  color: var(--color-white);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--color-light-gold);
}

/* SECTIONS */

section,
footer {
  padding: 45px 6%;
  scroll-behavior: smooth;
  scroll-margin-top: 60px;
}
.section-title {
  font-size: 13px;
  color: var(--color-light-gold);
  text-align: center;
  font-weight: bold;
}
.section-subtitle {
  font-size: 35px;
  text-align: center;
  font-family: var(--font-heading);
  margin-bottom: 20px;
}
#services,
#menu {
  background-color: var(--color-cream);
}

/* HOME */

#home {
  display: flex;
  align-items: center;
  padding: 130px 6% 60px;
  min-height: 635px;
}
.home-text {
  max-width: 500px;
  width: 100%;
}
.animation-slideUp {
  animation: slideUp 2s ease;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.home-subtitle {
  font-size: 40px;
  font-family: var(--font-script);
  color: var(--color-coffee-brown);
}
.home-title {
  font-size: 70px;
  line-height: 0.9;
  color: var(--color-white);
  font-family: var(--font-heading);
}
.home-description {
  max-width: 300px;
  margin: 15px 0;
  line-height: 1.3;
  color: var(--color-muted-text);
}
.btn,
.btn1 {
  display: inline-block;
  padding: 15px 30px;
  margin: 15px 10px 50px 0;
  text-decoration: none;
  border-radius: 5px;
  color: var(--color-white);
  transition: 0.3s;
}
.btn {
  background-color: var(--color-coffee-brown);
}
.btn1 {
  border: 1px solid var(--color-coffee-brown);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.btn svg {
  color: var(--color-white);
  vertical-align: middle;
  margin-left: 5px;
}
.btn:hover,
.btn1:hover {
  transform: scaleX(0.95);
}
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 20px;
  border-right: 1px solid var(--color-light-gold);
  white-space: nowrap;
}
.feature-item.feature-last {
  border-right: none;
  padding-right: 0;
}
.feature-icon {
  flex-shrink: 0;
  color: var(--color-light-gold);
}
.feature-title {
  color: var(--color-light-gold);
}
.feature-subtitle {
  color: var(--color-white);
  font-size: 14px;
}

/* ABOUT */

#about {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 350px;
  background-color: var(--color-dark-brown);
  color: var(--color-white);
  padding: 0;
}
.about-text {
  padding: 45px 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-title {
  color: var(--color-light-gold);
  font-size: 13px;
  margin-bottom: 5px;
}
.about-subtitle {
  font-family: var(--font-heading);
  font-size: 35px;
  margin-bottom: 15px;
}
.about-description {
  color: var(--color-muted-text);
  font-size: 13px;
  max-width: 330px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.features1 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}
.feature-item1 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 15px;
  border-right: 1px solid var(--color-light-gold);
  white-space: nowrap;
}
.feature-item1.feature-last1 {
  border-right: none;
  padding-right: 0;
}
.feature-icon1 {
  flex-shrink: 0;
  color: var(--color-light-gold);
}
.feature-title1 {
  color: var(--color-light-gold);
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
}
.feature-subtitle1 {
  font-size: 14px;
}
.about-image {
  width: 100%;
  height: 100%;
  min-height: 350px;
  background-image: url("../Image/about-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* SERVICES */

.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 10px 0;
}
.card {
  max-width: 250px;
  padding: 35px 20px;
  border-radius: 7px;
  font-size: 14px;
  text-align: center;
  line-height: 1.4;
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 10px var(--color-shadow);
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 15px var(--color-shadow);
}
.icons {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  margin: 5px;
  background-color: var(--color-light-gold);
}
.icon {
  color: var(--color-dark-text);
}
.card h3 {
  margin-bottom: 8px;
}

/*  MENU*/

.items {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  justify-content: center;
  flex-wrap: wrap;
}
.item {
  max-width: 250px;
  display: grid;
  grid-template-rows: auto;
  gap: 0;
  transition: 0.3s;
  cursor: pointer;
}
.item-img {
  background-color: #1c120d;
  border-radius: 5px 5px 0 0;
}
.item-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-border);
  padding: 15px;
  border-radius: 0 0 5px 5px;
  align-items: center;
  box-shadow: 0 4px 10px var(--color-shadow);
}
.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 15px var(--color-shadow);
}

/* TESTIMONIALS */

#testimonials {
  display: flex;
  justify-content: end;
  gap: 10px;
  background-color: #120d09;
  color: var(--color-white);
}
.testimonial-texts {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  max-width: 600px;
  max-height: 130px;
  overflow: scroll;
  line-height: 1.9;
  color: var(--color-muted-text);
}
.discount {
  padding: 10px 30px;
}
.discount-text1 {
  font-family: var(--font-heading);
  font-size: 35px;
  line-height: 0.8;
  letter-spacing: 0.5px;
}
.discount-text2 {
}
/* SMALL SCREENS  */
@media (max-width: 700px) {
  html {
    scroll-padding-top: 200px;
  }
  .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 0;
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: var(--color-bg--brown);
  }
  .img {
    min-height: 670px;
  }
  #home {
    padding: 200px 6% 40px;
  }
  .home-text {
    max-width: 450px;
  }
  .home-title {
    font-size: 55px;
  }
  .home-subtitle {
    font-size: 30px;
  }
  .home-description {
    font-size: 14px;
    max-width: 250px;
  }
  .btn,
  .btn1 {
    padding: 10px 20px;
    margin: 10px 8px 30px 0;
  }
  .features {
    justify-content: center;
    gap: 15px 20px;
  }
  .feature-item {
    padding-right: 12px;
    font-size: 13px;
  }
}
